body {
	background: #fbf3f3;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.AnswerHook {
	background: url(Resource/AnswerHook.png) no-repeat 50% 50% !important;
}

.ErrorMsg {
	position: absolute;
	display: none;
	z-index: 100;
}

.CorrectMsg {
	position: absolute;
	display: none;
	z-index: 100;
}

#Jumptable {
    overflow: auto;
    width: 100%;
    height: 200px;
    background-color: rgba(54, 48, 48, 0.729412);
    top: 65%;
    position: absolute;
    z-index: 1000;
}

#JumptableAll {
	overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.pptType {
    margin-left: 11em;
    height: 90%;
    overflow: auto;
    list-style: none;
    /*border: 3px red solid;*/
}

    .pptType li {
        float: left;
        margin: 1%;
        /*width: 18%;
    height: 16%;*/
    }

        .pptType li img {
            width: 100%;
            height: 100%;
        }

        .pptType li span {
            top: 0;
            left: 0;
            font-size: 1.5em;
            color: white;
            display: block;
        }

.JumpIcon {
    position: fixed;
    width: 30px;
    bottom: 0%;
    cursor: pointer;
    margin: 0;
    right: 1%;
    list-style: none;
    z-index: 1000
}

    .JumpIcon li {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
    }

    .JumpIcon img {
        width: 30px;
        height: 30px;
        float: left;
    }

#closeBtn {
    cursor: pointer;
    top: 0px;
    right: 0px;
    position: absolute;
    /* z-index: 1; */
}

#narrowBtn {
    cursor: pointer;
    top: 0px;
    position: absolute;
    /* z-index: 1; */
}

.textArea {
    /* width: 315px;
    height: 190px; */

    font-size: 24px;
    border-radius: 0px 0px 10px 10px;

    min-height: 100px;
    min-width: 100px;
}

/* .noteCanvas {
    border-radius: 10px 10px 0px 0px;
}

#canvasArea {
    border-radius: 0px 0px 10px 10px;
} */

/* .narrowDiv img{
    width: 50px;
    height: 50px;
} */

/*********畫筆 透明度　粗細 *********/

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

    input[type='range']::-moz-range-track {
        -moz-appearance: none;
        border-radius: 5px;
        box-shadow: inset 0 0 5px #333;
        background-color: #999;
        height: 10px;
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        border-radius: 20px;
        background-color: #FFF;
        box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
        height: 20px;
        width: 20px;
    }

    input[type='range']::-moz-range-thumb {
        -moz-appearance: none;
        border-radius: 20px;
        background-color: #FFF;
        box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
        border: 1px solid #999;
        height: 20px;
        width: 20px;
    }

    input[type='range']::-ms-thumb {
        -ms-appearance: none;
        border-radius: 20px;
        background-color: #FFF;
        box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
        height: 10px;
        width: 10px;
    }

    input[type='range']::-ms-track {
        -ms-appearance: none;
        border-radius: 5px;
        box-shadow: inset 0 0 5px #333;
        background-color: #999;
        height: 10px;
    }

    input[type='range']::-ms-fill-lower, 
    input[type='range']::-ms-fill-upper {
        background: #999;
    }

    input[type='range']::-ms-tooltip {
        display: none;
    }


/*********畫筆 透明度　粗細 *********/

/*********畫筆 *********/

.option {
    width: 35px;
    float: left;
    height: 40px;
    border: 2px solid #cccccc;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-right: 10px;
}

.colorStateBar {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 30px;
}

    .colorStateBar div {
        margin: 3px;
        margin-left: 3px;
        width: 300px;
        height: 5px;
        background-color: red;
    }

#norColor {
    float: left;
    width: 50%;
    position: relative;
}

#circleColor {
    float: left;
    width: 50%;
    position: relative;
}

.changeSlider {
    background-color: #b9bfc6;
    width: 90%;
    z-index: 1001;
    margin-bottom: 20px;
}

#picker {
    margin-left: -25px;
}

#color {
    width: 150px;
    border-radius: 10px;
    margin-left: 0px;
}

#divbtn {
    float: left;
    margin-left: 70px;
    margin-top: 0px;
}

.pikerbtn {
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

.active {
    border: 2px solid black;
}

img.output {
    border: 1px solid green;
}

#cSketchPad {
    cursor: arrow;
}

.sharp_btn {
    cursor: pointer;
    border: 1px solid;
}


/*********畫筆  *********/

#dialog {
    background: blueviolet;
    font: 10pt/normal tahoma;
    padding: 0px;
    border: 1px solid gray;
    border-image: none;
    left: 200px;
    top: 100px;
    width: 400px;
    height: 400px;
    margin-top: 0px;
    margin-left: 0px;
    display: none;
    position: absolute;
    z-index: 100;
    font-size-adjust: none;
    font-stretch: normal;
}


#TextKeyword {
    width: 60%;
    border-radius: 5px;
}

#textSearchBtn {
    width: 30%;
    border-radius: 5px;
}

.centent_Text {
    background-color: white;
    /*height: 300px; */
    overflow: auto;
    width: 95%;
    margin-top: 3px;
    border-radius: 5px;
}

#BookAlert {
    position: absolute;
    text-align: center;
    top: 47%;
    left: 50%;
    background-color: gray;
    border-radius: 10px;
    display: none;
    color: white;
    font-size: 40px;
}

.stuAnswerCanvas {
    width: 50%;
    height: 50%;
}

.stuAnswerCanvasZoomIn {
    width: 100%;
    height: 100%;
}

#UploadDiscussionBtn {
    width: 65%;
    border-radius: 5px;
    margin: 6% 0 -6% 35%;
}

.fullvideo {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1001;
}

.cubeDiv canvas#Top {
    transform: rotateX(-90deg);
}

.cubeDiv canvas#Right {
    transform: rotateY(-90deg);
}

.cubeDiv canvas#Bottom {
    transform: rotateX(90deg);
}

.cubeDiv canvas#Left {
    transform: rotateY(90deg);
}

#QuizTime, #QuizScroe {
    font-size: 20px;
}

#endQuiz {
    display: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

div.windows_list_box {
    display: none;
    position: absolute;
    top: 50px;
    width: 300px;
    left: 100px;
    z-index: 1000;
    background-color: #F1C40F;
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
}

    div.windows_list_box h2 {
        color: black;
        margin-left: 30%;
    }


    /*--內容區域--*/

    div.windows_list_box .centent_box {
        position: absolute;
        top: 50px;
        left: 5%;
        width: 90%;
        height: auto;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        /*#;FEF673*/
    }

        div.windows_list_box .centent_box ul {
            margin: 0;
            padding: 0;
            overflow: auto;
            max-height: 293px;
            border: rgba(0, 0, 0, 0.7) solid 10px;
        }

        div.windows_list_box .centent_box li {
            margin: 5px 0;
            padding: 10px;
            display: block;
            overflow: hidden;
            border-radius: 5px;
            /*background-color:#FFF;*/
            width: 85%;
            text-decoration: none;
            /*border:#F39C12 dashed 2px;*/
            color: #000;
            font-size: 16px;
        }

            div.windows_list_box .centent_box li:hover {
                margin: 5px 0;
                padding: 10px;
                display: block;
                overflow: hidden;
                border-radius: 5px;
                background-color: #F39C12;
                /*FCC*/
                width: 85%;
                text-decoration: none;
                border: #F39C12 solid 2px;
                color: #000;
                font-size: 16px;
            }

    div.windows_list_box .close_box, .narrow{
        /*position: absolute;
        top: 10px;
        right: 10px;*/

         width: 30px;
        height: 45px;
        background-size: 100% 100%;
        background-image: url(../ToolBar/Narrow.png);
        background-repeat: no-repeat;
    }


.allTimer {
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
}

.timerbtndiv {
    width: 270px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url(../ToolBar/timerBG.png);
    background-repeat: no-repeat;
}

/*.narrow {
    width: 30px;
    height: 45px;
    background-size: 100% 100%;
    background-image: url(../Resource/Narrow.png);
    background-repeat: no-repeat;
}*/

.timer, .timer-done, .timer-loop {
      font-size: 30px;
      color: black;
      font-weight: bold;
      
      padding: 10px;
      width: 125px;
      height: 30px;
        background-size: 100% 100%;
      background-image: url(../ToolBar/timerMiddleBackground.png);
       background-repeat: no-repeat;

    }

    .hours { float: left; }
    .minutes { float: left; }
    .seconds { float: left; }
    .clearDiv { clear: both; }

    .is-complete {
      color: red;
      /*-webkit-animation-name: blinker;background:url(Resource/timerMiddleBackground.png)no-repeat;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
      -webkit-animation-duration: 1s;*/
    }

.divOffset {
    background: #fbf3f3;
    position: absolute;
    z-index: 500;
}

#openButton {
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 1;
    cursor: pointer;
    width: 10%;
}

#backButton {
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 1;
    cursor: pointer;
    width: 5em;
}

.confirm {
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.confirm .conts {
    width: 400px;
    height: 100px;
    background-color: #e8e7e1;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.confirm .conts p {
    padding-left: 1em;
}

.confirm .conts span {
    display: flex;
    justify-content: flex-end;
}

.confirm .conts span .confirm_btn {
    margin: 0 10px;
    padding: 5px 15px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background: #000000;
    color: #fff;
    box-shadow: 1px 1px 1px #666666;
}

.confirm .conts span .cancel {
    background: #ffffff;
    color: #777777;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}

.blockView {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    z-index: 10000;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

textarea.noFocus:focus {
    outline: 0;
}

#App_NotesUl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackboard-invert {
    -webkit-filter:invert(1);
}